doctype html
include partials/head
include partials/navbar

+head("View Questions")

body.bg-dark.text-light
  +navbar("questions")
  div.container.w-100
    div.input-group.mb-3
      span.input-group-text Search
      input(type="text" placeholder="Search Questions")#questionQuery.form-control
      div.input-group-append
        input(type="submit" value="Search" onclick="searchQuestions()").btn.btn-outline-info.text-light
    div.mb-3
      form.form-inline
        span Page 
        input(type="number" name="p")#currentPage.rounded
        span#totalPageNumber
    div#questionList
  
  script.
    let id;
    if (!{JSON.stringify(id)}) {
      id = !{JSON.stringify(id)};
      console.log(id);
    }
    window.onload = async () => {
      await searchQuestions();
    }
    
    function searchQuestions() {
      const questionQuery = document.getElementById("questionQuery");
      const questionList = document.getElementById("questionList");
      const currentPage = document.getElementById("currentPage");
      const totalPageNumber = document.getElementById("totalPageNumber");
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            const urlParams = new URLSearchParams(window.location.search);
            let response = JSON.parse(xhr.responseText);
            
            if (!Array.isArray(response)) {
              response = [ response ];
            }
            
            let page;
            
            if(urlParams.has("p")) {
              if (urlParams.get("p") < Math.ceil((response.length + 1)/10)) {
                page = urlParams.get("p");
              } else {
                page = 1;
              }
            } else {
              page = 1;
            }
            
            currentPage.value = page;
            currentPage.size = `${page}`.length;
            totalPageNumber.innerHTML = ` of ${Math.ceil((response.length + 1)/10)}`
            
            response = response.splice(page * 10 - 10, page * 10);
            questionList.innerHTML = "";
            response.forEach((q, index) => {
              console.log(response[index]);
              let html = "";
              html += `<div class="p-4 mb-4 bg-secondary rounded-3 shadow">`;
              html += `<h1 class="display-6">Toss-Up `;
              html += `<a class="link-light" href="/questions/${response[index]["_id"].toString()}/update"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg></a></h1>`;
              html += `<p class="lead"><strong>${response[index]["Category"]} (${response[index]["Toss-Up Subcategory"]})</strong> - <em>${response[index]["Toss-Up Question Format"]}</em> ${response[index]["Toss-Up Question"].replace(/\n/gi, "<br>&nbsp;")}</h1><br><br>`;
              html += `<a class="btn btn-outline-info text-light" data-bs-toggle="collapse" href="#tuAnswer${index}" role="button">Click for answer</a>`;
              html += `<div class="collapse" id="tuAnswer${index}"><div class="card card-body my-3 bg-dark">${response[index]["Toss-Up Answer"]}</div></div>`
              if (response[index]['Toss-Up Explanation']) {
                html += `<a class="btn btn-outline-info text-light" data-bs-toggle="collapse" href="#tuExplanation${index}" role="button">Click for explanation</a>`;
                html += `<div class="collapse" id="tuExplanation${index}"><div class="card card-body my-3 bg-dark">${response[index]["Toss-Up Explanation"]}</div></div>`
              }
              html += `<hr class="my-4">`;
              html += `<h1 class="display-6">Bonus</h1>`;
              html += `<p class="lead"><strong>${response[index]["Category"]} (${response[index]["Bonus Subcategory"]})</strong> - <em>${response[index]["Bonus Question Format"]}</em> ${response[index]["Bonus Question"].replace(/\n/gi, "<br>&nbsp;")}</h1><br><br>`;
              html += `<a class="btn btn-outline-info text-light" data-bs-toggle="collapse" href="#bAnswer${index}" role="button">Click for answer</a>`;
              html += `<div class="collapse" id="bAnswer${index}"><div class="card card-body my-3 bg-dark">${response[index]["Bonus Answer"]}</div></div>`
              if (response[index]['Bonus Explanation']) {
                html += `<a class="btn btn-outline-info text-light" data-bs-toggle="collapse" href="#bExplanation${index}" role="button">Click for explanation</a>`;
                html += `<div class="collapse" id="bExplanation${index}"><div class="card card-body my-3 bg-dark">${response[index]["Bonus Explanation"]}</div></div>`
              }
              html += `</div>`;
              questionList.innerHTML += html;
            });
          }
      };
      if (id) {
        xhr.open("GET", `/questions/${id}`, true);
      } else {
        xhr.open("GET", `/questions?q=${questionQuery.value}`, true);
      }
      xhr.send();
    }
    
    function toggleAnswer(questionType, index) {
      const hiddenAnswer = document.getElementById(`${questionType} Answer ${index}`);
      hiddenAnswer.classList.toggle('d-none');
    }
